# Vim auxiliary files
*~
*.swp

# GIMP sprite sheet
sprites/spritesheet_16x16.png
sprites/spritesheet_16x16.xcf
sprites/bullet_old.png
sprites/font.png

# Fonts
fonts/

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

